@import './src/variaveis.css';
@import './src/head.css';
@import './src/buttons.css';
@import './src/footer.css';

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: var(--background);
}

.container {
    width: 80vw;
    margin: 0 auto;
}

